.full{
	background: #FFFFFF;
	}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
.tip{
		margin: 50upx;
		padding: 50upx;
		background-color: #F6EFDC;
		color: #000000;
	}
